/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 5 farver */
:root {
  --hvid: #f4f9e3;
  --sort: #121112;
  --farveEn: #92efa1; 
  --farveTo: #2e8d33; 
  --farveKontrast: #9b1a1a; 
}
body{
  background-image:
  url(../images/endeligmedfigur.webp); max-width: 100%;
  background-repeat:no-repeat;
background-size: cover;
  font-family: 'Poppins', sans-serif;
}
.menupunkter {
  background: hsla(349, 90%, 56%, 0.899);}

 h1{
color: #fff;
font-size: 2rem;
position: absolute;
top: 15%;
left: 33%;
line-height: 1;
transform: translate(-40%, -50%);

font-style: italic;

 }
 h2{
  color: #fff;
font-size: 2rem;
padding: 1rem;
text-align: center;
 }

 p{
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
 }


 main{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  align-items:flex-start;
 }
 .venstre{

  justify-content: center;
 
 }
 .venstre img{
  width: 100%;
  height: auto;
  padding-top: 2rem;

 }
 .højre{
  display: flex;

  justify-content: center;
  padding-right: 0 ;
gap: 1rem;
align-items: center;
 }

.midterbillede{
  width: 19rem;
  height: 22rem;


}
.midterbillede img{
  width: 100%;  /* tilpas størrelse */
    height: 100%;
    object-fit: cover;

  box-shadow:  0 0 40px 0 rgba(0, 0, 0, 0.779);
}
.yderbillede{
  width: 17rem;
  height: 20rem;
 


}
.yderbillede img{
  width: 100%;  /* tilpas størrelse */
    height: 100%;
    object-fit: cover;
  box-shadow:  0 0 40px 0 rgba(0, 0, 0, 0.779);

}

 .knapper{
  display: flex;
  margin-left: 13rem;
  margin-top: 1rem;
  gap: 5%;

  width: 30rem;
  font-size:2rem;
  font-weight: bold;


  
 }
.knapper a{
  text-decoration-line: none;
color: #f0dcdc;
  padding: 1rem;
  background-color: #ffffff59;

 }
 .knapper a:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.intro{
  display: flex; 
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 12rem;
  height: fit-content;
background-color: #e1958454;
gap: 5rem;
 
}
.omradar{
  align-self: flex-start;
  background-color: #f5124f;
  border-radius: 0 60px 60px 0;
  justify-items: center;
  margin-right:20%
}
.citat{
  align-self: flex-end;
  background-color:  #f5124f;
  border-radius: 60px 0 0 60px;
  margin-left:40%
}
.citat p{
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
 font-size: 0.8rem;
  font-style: italic;
}
.omradar p{
  font-size: 0.8rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: rem;
}
.omradar h2{
  padding-top: 2rem;
  padding-bottom: 0;
}
.omradar a{
padding: 1rem;
color: white;
text-decoration-line: none;
padding-top: 2rem;
}
.omradar a:hover{
  text-decoration: underline;
}
.eventss{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.eventss h2{
  font-size: 4rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
}
.eventss a{
  text-decoration-line: none;
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
 float: left;
 padding-top: 5%;
 margin-left: 7%;
}
.eventss a:hover{
text-decoration: underline;
}
section.koncert {
  display: flex;
border-top: 5px solid white;
border-bottom: 2px solid rgba(255, 255, 255, 0);
  overflow: auto;
  white-space: nowrap;

  gap: 4rem;
  max-width: max-content;
  
}
.middle {
  transition: .5s ease;
    position: absolute;
  
    text-align: center;
    opacity: 0;
    text-decoration: none;
    height: 100%;
    width: 100%;
    background-color: #00000079;
}
a.text{
  margin-top: 50%;
  z-index: 1;
  text-align: center;
  text-decoration: none;

}
.koncertbokse{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.1rem solid white;
  border-top: 0;
  min-width: 18rem;
  height: fit-content;
    white-space:wrap ;
    position: relative;
    
    background-color: #f5124e21;
}
.koncertbokse:hover{
  
  transition: filter 0.5s ease ;
  background-color: #ffffff80;
  
 
 
}
.koncertbokse:hover .middle {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.koncert h3{
  font-size: 4rem;
  text-align: center;
  color: white;
 


}
.koncert p{
  font-size: 1rem;
  text-align: center;
}
section.koncert img {
 width: 100%;  /* tilpas størrelse */
    height: auto;
    
}
.some{
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
}
.some h2{
  color: #fff;
font-size: 2rem;
margin-left: 70%;

}
.instabil {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.instabil #en,
.instabil #to,
.instabil #tre,
.instabil #fire {
  width: 20rem;
  height: auto;
}
.navbar .logo img {
  width: 13rem;
  height: auto;
  /* Fjern margin-left: 40%; Lad flex centrere det */
}



@media only screen and (max-width: 600px){
  body{ background-image: url(../images/mobil2baggrund.webp);
  }
  .navbar .logo img {
    width: 5rem; /* Mindre logo på små skærme */
  }
  main{
    flex-direction: column;
    scale: 0.5;
    gap: 10rem;
    align-items: center;
  }
  .venstre img{
scale: 2;
    padding-top: rem;
    margin-top: -10rem;
   }
   .højre{
    padding-left: 10%;
    padding-right: 10%;
   }
   .knapper {
    margin: auto;
margin-top: -5rem;
justify-content: center;
    gap: 2rem;
    max-width: 100%;
    font-size: 1rem;
  }
  .omradar{
margin-right: 2rem;
  }
  .citat{
    margin-left: 2rem;
  }
  .citat p{
    padding: 2rem;
   
    
  }
  .omradar p{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  .omradar h2{
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .intro{
 flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  }
  .eventss a{
    font-size: 3rem;
  }
  section.koncert img {
    
    width: 100%;
  height: auto;}
    .koncertbokse{
      height: auto;
    }
    .koncert h3{
     font-size: 4rem;
    }
  .some h2{
    margin-left: 60%;
    font-size: 1.5rem;
  }
 

  .instabil #en, .instabil #to, .instabil #tre, .instabil #fire {
  width: 15rem;
  height: auto;
}
}
@media only screen and (min-width: 600px) and (max-width:1100px){
  .navbar .logo img {
    width: 8rem; /* Mindre logo på små skærme */
  }
  .citat p{
    padding-left: 5rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
   
    font-style: italic;
  }
  .omradar p{
    padding-left: 3rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
  }
  .omradar h2{
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .intro{
    flex-direction: column;
    gap: 2rem;
  }
  .omradar{
    margin-right: 2rem;
      }
      .citat{
        margin-left: 2rem;}
  
        .knapper{
          
margin-left: 15%;
    gap: 9%;
    max-width: 100%;
    font-size: 1rem;
        }
}
@media only screen and (min-width: 600px){
  .højre{
    width: 50%;
    float: left;
  }
  .venstre{
  
    justify-content: center;
    width: 50%;
    float: right;
  }

}
