* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body{
    background-image:
    url(../images/grønbaggrund_1.webp); max-width: 100%;
    background-size: 100%;
    background-repeat:repeat-y;
  background-size: cover;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    width: 200%;
    height: auto;
  }
  h1{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10rem;
  }
  h2{
    color: #ffffff;
  }
  h3{
    color: white;
    text-align: center;
    font-size: 4rem;

  }
  p{
    color: white;
    font-size: 1rem;
  }
  .indhold{
    display:flex ;
    flex-direction: row;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .vl {
  
  }
  .eventkal{
    display: flex;
    flex-direction: column;
  }
.kalender{
    display: flex;
    flex-direction: column;
  
}

  main.kalender {
  
    overflow: auto;
    white-space: nowrap;
padding-left: 10rem;
padding-right: 1rem;
    width: 40rem;
    height: 50rem;
    transform: rotate(180deg);
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid white;
    background-color: #f0f0f048;
  }

.intro{
    justify-items: left;
    padding-right: 10rem;

}
  
 

  .efekt{
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  .efekt img{ 
    display: block;
    width: 100%;
    filter: grayscale(100%) blur(2px);
    transition: filter 0.5s ease;
    }
  .jan{
    display: flex;
    flex-direction: column;
    transform: rotate(180deg);
  }
  div.flere{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 25rem;
    height: 15rem;
  }
  .efekt .overlag{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    opacity: 1;
    transition: opacity 0.5s ease;
    color: white; 
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.5);
  }
hr{
    width: 30rem;
}
  .boks{
    border: 1px solid white;
    width: 10rem;
    height: 15rem;
    margin-top: 1rem;
    flex-direction: row;
  }
  .efekt:hover img {
    filter: none;
  }
  
  .efekt:hover .overlag {
    opacity: 0; 
  }
  /*skrollbar*/
  .kalender::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
    border-radius: 50px;
    background-size: 50px;
  }
  .kalender::-webkit-scrollbar-thumb:hover {
    background: #756b6b; }
    .kalender::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255); 
       background-size: 0;
       
      }
.kalender::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    top: 10%;
    height: 10px;
  }      

 