
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Giver mulighed for at bryde til næste linje */
    padding-top: 1%;
    padding-left: 4rem;
    padding-right:4rem ;
  padding-bottom: 2rem;
    width: 100%;
    background-color: rgb(63, 59, 59);
    color: rgb(168, 162, 162);
    text-align: left;
  }
 /* Juster selve div'erne inden i footeren så de får lidt margin */

  .folgospo{
    display: flex;
  
    gap: 0.5rem;
    align-items: center;
    padding-top: 0.7rem;
    
  }
  .folgospo img{
    width: 2.5rem;
    opacity: 70%;
   
   footer p{
    font-size: 0.8rem;
    padding: 0%;
    color: #888282;
  }
  }
  footer h3{
    font-size: 1rem;
    text-align: left;
  }

  /* MEDIA QUERY - Ved mindre skærme ændrer vi layoutet */
@media (max-width: 600px) {
  footer {
    flex-direction: column; /* Stabler elementerne lodret */
    padding-left: 2rem;
    padding-right: 2rem;
  text-align: left;
    align-items: left;
  }

  footer > div {
    margin: 1rem 0; /* Mindre margin på små skærme */
  }

  footer h3 {
    font-size: 2rem;
    text-align: left;
  }

  footer p {
    font-size: 1rem;
      text-align: left;
  }

  .folgospo img {
    width: 2rem; /* Mindre ikoner på små skærme */
  
  }
}