nav.navbar {
  display: flex;
  align-items: center;  /* Centrer lodret */
  justify-content: center; /* Centrer vandret */
  padding: 1rem 1em;
  padding-bottom: 2rem;
  color: #fff;
  position: relative; /* For at kunne positionere burgerikonet relativt til navbaren */
}

  
  /* logoet */

  
.burger-label {
  cursor: pointer;
  opacity: 1;
  position: absolute; 
  right: 2%;
  top: 20%;
  transform: translateY(-50%); /* For at centrere burger-ikonet lodret */
}

#burgerikon {
  width: 3rem;
  height: 3rem;
    transition: transform 1s; /* Definer transition her */
    transform: rotate(0deg);
}

   .burger-label:hover{
    color: #f7f7f7;
    opacity: 0.6;
    
   }
  
  .menupunkter {
   
    list-style: none;
   
    position: absolute;
  top: 0;      /* Samme top som burgerikonet */
  right: 6%;       /* Samme right som burgerikonet */
  border-bottom-right-radius:2rem ;
  border-bottom-left-radius:2rem ;
  border: 0px  solid white;
  border-top: #00000000;

    z-index: 1;
    width: 15rem;
    padding: 1rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out; 
  }
   #menu-bar{
    display:none ;
   }
   #menu-bar:checked ~ .menupunkter {
    display: block;
    transform: translateY(0); /* Flyt tilbage til normal position */
    opacity: 1; 
    
   }
 
/* Når menuen er åben (dvs. checkboxen er checked) */
#menu-bar:checked ~ .burger-label #burgerikon {
  filter: invert(50%);
  transform: rotate(90deg);
 transition-duration: 1s;
  /* Eller en anden effekt, fx en anden baggrundsfarve, border, rotation osv. */
}


   .menupunkter a {
    color: #ffffff;
    font-weight: 700;
    padding: 1rem 1rem;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
   }

   @media (max-width: 768px) {
  
  
    
    .burger-label {
     padding-top: 6rem;
   position: absolute;
   right: 8%;
   top: 25%;
      scale: 1.8;
      z-index: 9999; /* Højere end menuen */
    }
    .menupunkter {
      width: 100%;    /* Fylder hele skærmens bredde */
      left: 0;        /* Justerer positionen så den starter ved venstre kant */
      right: 0;       /* Sikrer at den også går helt til højre kant */
      top: 0;         /* Flyt menuen til toppen af skærmen */
      border-radius: 0; /* Fjern eventuelle afrundede hjørner, hvis du vil have den helt ud til kanten */
      padding: 2rem;  /* Juster padding efter behov */
      z-index: 1; /* Lavere end burger-ikonet */
    }
  
    #burgerikon {
      width: 2.5rem;
      height: 2.5rem; /* Mindre burgerikon */
    }
  }
    /* Juster evt. padding og margin yderligere her */
  