*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-image:
    url(../images/kunstnerbaggrund.webp); max-width: 100%;
    background-size: 100%;
    background-repeat:repeat-y;
  background-size: cover;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    width: 200%;
    height: auto;
    
  }
  .navbar .logo img {
    width: 13rem;
    height: auto;
    /* Fjern margin-left: 40%; Lad flex centrere det */
  }
  .menupunkter {
    background: hsla(333, 71%, 55%, 0.592);
}

h1,h2,h3,p{
    color: #ffffff;
}

h1{
margin: 5% auto;
font-size: 2rem;
text-align: center;


}
h2{
text-align: center;
margin-bottom:1.5rem;

}
h3{
font-size: 1rem;

}
p{
    font-size: 1rem;
  
    line-height: 1.4;
    margin: 0;
    
}
.afsnit1, .afsnit2 {
    text-align: center;
  margin: 0 auto ;
display: flex;
justify-content: center;
    }
    .afsnit1 p, .afsnit2 p{
        min-width: 20%;
        max-width: 30rem;
        text-align: left;
    }
    .afsnit1{
        flex-direction: row;
        align-items: center;
        gap: 1rem;

    }
    .afsnit2{
        flex-direction: row-reverse;
gap: 1rem;
        align-items: center;

    }
    .cirkelbillede1,  .cirkelbillede4, .cirkelbillede2, .cirkelbillede3{
        border-radius: 100%;
        border:2px solid #fff;
        width: 17rem;
    height: 17rem;
    object-fit: cover;
    }

/* Tilpas de store cirkler */
.cirkelbillede2, .cirkelbillede3 {
    width: 20rem;
    height: 20rem;
    position: absolute;
    z-index: -1;
}

/* Placering af cirkelbilleder (desktop) */
.cirkelbillede2 {
    left: 80%;
    bottom: 0%;
}

.cirkelbillede3 {
    right: 80%;
    bottom: 0%;
}

.cirkelbilleder1, .cirkelbilleder2 {
    display: flex;
    flex-direction: row;
    position: relative;
}


    
  .featured{
    margin-top: 5%;
  }

.intro img {
    display:block ;
  }
.brugernavn{
    display: flex;
    align-items: center;
    justify-content: center;

}
.brugernavn img{
    width: 0.5rem;
   
}

  .anmeldelse{
    border-radius: 1rem;
    color: #fff;
    line-height: 1.4;
   justify-items: center;
  }
  .anmeldelse img{
    width: 100%;  /* tilpas størrelse */
    height: auto;
    object-fit: cover;
    margin: 0;
  }
  .kasse{
    display: flex;
    flex-direction: column;
    max-width: 14rem;
    height: auto;
    overflow:hidden;
 
    background-color: rgba(243, 170, 188, 0.158);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border: 2px solid white;
    padding: 1%;
    height: fit-content;
    text-align: center;
  }
  .kasseindlesflere{
    display: flex;
    flex-direction: column;
    min-width: 14rem;
    height: auto;
    overflow:hidden;
    background-color: rgba(243, 170, 188, 0.311);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border: 2px solid white;
    text-align: center;
  }
  .kasseindlesflere :hover{
    background-color: rgba(166, 138, 138, 0.39);
  }
  .kasseindlesflere a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding-top: 7rem;
    padding-bottom: 9.5rem;
  }
  .kasse p{
    font-size: 0.8rem;
  }
  .kasser{
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
     gap: 2rem;
     margin-bottom: 5rem;
     margin-left: 1rem;
     margin-right: 1rem;
  }
  .monedenskunstner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid white;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    gap: 5%;

  }
  .monedenskunstner img{
width: 100%;
height: 100%;
  }
  .billedee{
   
  width: 50%;
  }
  .text{
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    align-items: center;
  }
  .text a{
    color: white;
    text-decoration: none;
    display: block; /* Make the anchor a block element */
    margin: 1rem auto; /* Center it horizontally */
    width: fit-content;
  }

  .kasser2{
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
     gap: 2rem;
     margin:0 2% 10rem 2%;
    padding: 5% 10%;
   
  }

/* Media Queries for Mobile */
@media (max-width: 767px){
    p {
        font-size: 0.9rem;
        padding: 0 5% 0 5%;

    }

   
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
       }
    
        /* Cirklerne kan evt. blive endnu mindre */
        .cirkelbillede1, .cirkelbillede4, .cirkelbillede2, .cirkelbillede3 {
            width: 10rem;
            height: 10rem;
        }
        .cirkelbillede2, .cirkelbillede3 {
            width: 12rem;
            height: 12rem;
            position: absolute;
            z-index: -1;
        }
        .cirkelbilleder1{
        margin: 5% 40% 5% 2%;
        }
        .cirkelbilleder2{
            margin: 5% 0  5% 40%
        }
        
        .afsnit1, .afsnit2 {
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            justify-content: center;
        }
        .monedenskunstner{
        flex-direction: column;
    }
    .billedee{
       
        width: 100%;
        }
        .text{
          width: 100%;
        }
        .kasser2{
            margin: 0 -1rem;
        }
        
      
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .afsnit1, .afsnit2 {
       align-items:flex-start;
       margin: 2rem;
       
    }

    /* Giv p-elementerne mere fleksibilitet */
   .intro{margin: 0 7%;
}
    .afsnit1 p{
        max-width: 70%;
        font-size: 1.2rem;
    }
    .afsnit2 p{
        text-align: right;
        max-width: 90%;
    }

    /* Justér cirkelbilleder så de skalerer ned og ikke overlapper skærmen */
    .cirkelbillede1, .cirkelbillede4, .cirkelbillede2, .cirkelbillede3  {
        width: 13rem;
        height: 13rem;
        
    }
    
    .cirkelbillede2, .cirkelbillede3{
        width: 14rem;
        height: 14rem;
        position: static;
        
        right:0;
        z-index: -1; /* Fjern absolut positionering på mindre skærme */
        margin: -2rem auto;
    }

    .cirkelbilleder1, .cirkelbilleder2 {
      
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .kasser{
        margin-left: 9rem;
        margin-right: 9rem;
    }
    .kasser2{
    padding: 5% 5%;
 }
}

 @media only screen and (min-width: 1024px){
    .kasser2{
         margin:0 6% 10rem 6%;
        gap: 3rem;
       
      }

 }
 